@keyframes slide {
  0% {
    transform: translate(0, -144px);
  }
  100% {
    transform: translate(0, 0px); /* The image width */
  }
}

.scrolling-image {
    background: url("./assets/images/background.png") repeat-x;
    height: 3840px;
    width: 7680px;
    animation: slide 6s linear infinite;
    z-index: -2;
}

body {
    background-color: black;
    color: black;

    margin: 0 0;

    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

h1 {
    text-align: center;
}

a {
    color: darkorchid;
}

/* Centred objects!!! */
.center {
    margin: auto;
    width: 50vw;
    border: 6px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

/* Header */
.header {
    min-width: 100vw;
    text-align: center;
    position: sticky;
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
}

/* button decor to make divs look like windows */
.buttondecor {
    float: right;
    vertical-align: top;
    width: 100px;
}

/* sidebar for links */
.linksidebar {

    float: left;
    width: 3%;
    vertical-align: top;
    text-align: center;
    align-content: center;

}