body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

a {
    color: darkorchid;
}

/* Centred objects!!! */
.center {
    margin: auto;
    width: 50%;

    border: 3px solid white;
    border-radius: 5px;

    padding: 30px;

    text-align: center;
}