@keyframes slide {
  0% {
    transform: translate(0, -144px);
  }
  100% {
    transform: translate(0, 0px); /* The image width */
  }
}

.scrolling-image {
    margin: 0 0;
    background-origin: 0 60;
    offset: 30;
    background: url("./assets/images/background.png") repeat;
    height: 3840px;
    width: 7680px;
    animation: slide 6s linear infinite;
    z-index: -2;
}

.scrolling-image-container {
    overflow: hidden; 
    position: fixed; 
    margin: 0 0; 
    z-index: -2;
}

body {
    background-color: black;
    color: black;

    margin: 0 0;

    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
}

button {
    background-color: cyan;
    color: black;

    border-radius: 5px;
    border-color: black;

    margin: 0 0;

    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

h1 {
    text-align: center;
}

a {
    color: darkorchid;
}

/* Centred objects!!! */
.center {
    margin: auto;
    width: 65vw;
    border: 6px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

/* Header */
.header {
    min-width: 100vw;
    text-align: center;
    position: sticky;
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
}

.fileselect {

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;

}

.fileselect div {
    padding: 10px;
    text-align: center;
}

.featureContainer {
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
}

.subscriptionContainer {
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.featureBox {
    background-color: white;
    min-height: 240px;
    margin: 15px 15px;
    padding: 15px 15px;
    text-align: left;
    border: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
}